body {
  background-color: #c7dff5;
}

input {
  color: gray;
  font-size: 20px;
  width: 70%;
  padding: 12px 20px;
  margin: 1% 0%;
  margin-left: 5%;
  margin-bottom: 5%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h2 {
  margin-left: 30%;
}

.part {
  background-color: #ece7e7;
  height: auto;
  width: 32%;
  border: 3px solid #3f3838;
  float: left;
}

.song {
  border: 2px solid #3f3838;
  background-color: #c7dff5;
  width: 70%;
  height: 70px;
  border-radius: 20px;
}
.song button {
  border: 1px solid #3f3838;
  background-color: blue;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-top: 4%;
  margin-left: 1%;
}
.song .song-text {
  color: black;
  font-size: 20px;
  margin-left: 5%;
}

.playlist-button {
  border: 3px solid #3f3838;
  border-radius: 8px;
  height: 100px;
  font-size: 20px;
  width: 50%;
  background-color: #bd98ba;
  margin-left: 1%;
  color: white;
}

.user {
  border: 2px solid #3f3838;
  background-color: #c7dff5;
  font-size: 20px;
  color: black;
  height: 40px;
  border-radius: 10px;
}
.user label {
  margin-left: 3%;
}

.cancelbtn {
  color: white;
  border-radius: 4px;
  border: 2px solid #3f3838;
  float: left;
  margin: 0% 0%;
  width: auto;
  padding: 10px 18px;
  background-color: #e95d5d;
}

.text {
  color: black;
  font-size: 20px;
}

:hover {
  color: black;
}