form {
  border: 3px solid white;
}

label {
  margin-top: 5%;
  margin-left: 5%;
}

input[type=text], input[type=password] {
  width: 70%;
  padding: 12px 20px;
  margin: 1% 0%;
  margin-left: 5%;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
}

button {
  background-color: #4ada4a;
  color: white;
  padding: 14px 20px;
  margin: 5% 30%;
  border: none;
  cursor: pointer;
  width: 40%;
}

button:hover {
  color: black;
  transform: scale(0.95);
}

.upper-block {
  background: #c7dff5;
  height: 45px;
  padding: 20px;
  margin-bottom: -1px;
  border: 2px solid #3f3838;
  margin-right: -3%;
}
.upper-block .cancelbtn {
  color: white;
  border-radius: 4px;
  border: 2px solid #3f3838;
  float: left;
  margin: 0% 0%;
  width: auto;
  padding: 10px 18px;
  background-color: #e95d5d;
}

.container {
  background: #d4c599;
  padding: 20px;
  margin-top: 2%;
  padding: 16px;
}