body {
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

form {
  border: 3px solid white;
}

label {
  color: white;
}

input[type=text], input[type=password] {
  color: gray;
  font-size: 70%;
  width: 70%;
  padding: 12px 20px;
  margin: 1% 0%;
  margin-left: 5%;
  margin-bottom: 5%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: 2px solid #3f3838;
}

button {
  border: 2px solid #3f3838;
  background-color: #1c741c;
  color: white;
  padding: 14px 20px;
  margin: 5% 30%;
  margin-top: 5%;
  cursor: pointer;
  width: 40%;
}

button:hover {
  color: #d2e430;
  transform: scale(0.95);
}

.upper-block {
  background: none;
  height: 45px;
  padding: 20px;
  margin-bottom: -1px;
  border: 6px solid #3f3838;
  width: 100vw;
  margin-top: 10vh;
  border: none;
  background: none;
}
.upper-block .cancelbtn {
  color: white;
  font-size: 100%;
  border-radius: 30px;
  border: 2px solid #3f3838;
  float: left;
  margin: 0% 0%;
  width: 15vw;
  padding: 20px 18px;
  background-color: #861f1f;
}

.container {
  padding: 20px;
  margin-top: 10vh;
  margin-left: 5vw;
  padding: 16px;
  height: auto;
  flex-grow: 10;
}
.container label {
  color: white;
}