label {
  color: white;
}

body {
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.context {
  height: 40vh;
  width: 100%;
  background-color: #348829;
  margin-top: 14vh;
}

.container {
  height: 100vh;
  padding: 20px;
  margin-top: 3vh;
  padding: 16px;
}

input {
  border: 2px solid #3f3838;
  width: 60%;
  padding: 12px 20px;
  margin: 1% 0%;
  margin-left: 1%;
  display: inline-block;
  box-sizing: border-box;
}

.song {
  border: 3px solid #3f3838;
  border-radius: 8px;
  font-size: 70%;
  width: 25vw;
  padding-top: 15%;
  background-image: url(../images/song-1.jpg);
  background-size: cover;
  margin-left: 1%;
  margin-top: 5%;
  font-size: 100%;
  color: white;
}

button:hover {
  color: #d2e430;
  transform: scale(0.95);
}

.upper-block {
  background: none;
  height: 45px;
  padding: 20px;
  margin-bottom: -1px;
  border: 6px solid #3f3838;
  width: 100vw;
  border: none;
  margin-top: 10vh;
  background: none;
}
.upper-block .button {
  background-color: #3d58cf;
  color: white;
  padding: 20px 18px;
  margin-right: 2vw;
  border: none;
  padding: 5px, 5px;
  border-radius: 30px;
  width: 15vw;
  float: right;
  font-size: 130%;
}
.upper-block .cancelbtn {
  color: white;
  font-size: 100%;
  border-radius: 30px;
  border: 2px solid #3f3838;
  float: left;
  margin: 0% 0%;
  width: 15vw;
  padding: 20px 18px;
  background-color: #861f1f;
}
.upper-block button:hover {
  color: #d2e430;
  transform: scale(0.95);
}