body {
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.upper-block {
  margin-top: 4vh;
  background: none;
  height: 45px;
  padding: 20px;
  margin-bottom: -1px;
  border: 6px solid #3f3838;
  width: 100vw;
  border: none;
  width: 100vw;
}

.cancelbtn {
  color: white;
  font-size: 100%;
  border-radius: 30px;
  border: 2px solid #3f3838;
  float: left;
  margin: 0% 0%;
  width: 15vw;
  padding: 20px 18px;
  background-color: #861f1f;
  margin-left: 1%;
}

.button-right {
  background-color: #381235;
  color: white;
  padding: 20px 18px;
  margin-right: 2vw;
  border: none;
  padding: 5px, 5px;
  border-radius: 30px;
  width: 15vw;
  float: right;
  font-size: 130%;
  padding: 2px, 2px;
  margin-right: 4vw;
}

button:hover {
  color: #d2e430;
  transform: scale(0.95);
}

.container {
  margin-top: 20vh;
  border: 4px solid #3f3838;
  height: auto;
  width: 70%;
  float: right;
  margin-right: 10vw;
  border-radius: 20px;
}
.container button:hover {
  color: #d2e430;
  transform: scale(0.95);
}
.container h2 {
  margin-left: 10%;
  color: white;
  margin-top: 1%;
}
.container h3 {
  margin-left: 40%;
  color: white;
}
.container button {
  color: white;
  margin-top: 1%;
  margin-left: 1%;
}
.container button:hover {
  color: #d2e430;
  transform: scale(0.95);
}
.container .created {
  width: auto;
  margin-top: 10%;
  margin-bottom: 0%;
  font-size: 28px;
}