body {
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.upper-block {
  margin-top: 4vh;
  background: none;
  height: 45px;
  padding: 20px;
  margin-bottom: -1px;
  border: 6px solid #3f3838;
  width: 100vw;
  border: none;
  width: 100vw;
}

.cancelbtn {
  color: white;
  border-radius: 15%;
  border: 2px solid #3f3838;
  float: left;
  margin: 0% 0%;
  width: auto;
  padding: 10px 18px;
  background-color: #861f1f;
  margin-left: 1%;
}

.button-right {
  background-color: #381235;
  color: white;
  padding: 1% 1%;
  margin-right: 4vw;
  border: none;
  width: 7vw;
  float: right;
  font-size: 70%;
  margin-right: 4vw;
}

button:hover {
  color: #d2e430;
  transform: scale(0.95);
}

.container {
  margin-top: 15vh;
  border: 4px solid #3f3838;
  height: 50vh;
  width: 70%;
  float: right;
  margin-right: 10vw;
}
.container button:hover {
  color: #d2e430;
  transform: scale(0.95);
}
.container div {
  width: 70%;
  float: right;
}
.container .text {
  float: left;
  width: 100%;
  margin-left: 50%;
  margin-top: 5vh;
  font-size: 150%;
  color: white;
}
.container button {
  color: white;
  margin-top: 1%;
  margin-left: 1%;
}
.container button:hover {
  color: #d2e430;
  transform: scale(0.95);
}
.container .created {
  width: auto;
  margin-top: 10%;
  margin-bottom: 0%;
  font-size: 28px;
}