@import "colors", "mixins";



body{
    background-color: $background_color_1;
}
input{
    @include input;
}

h2{
    margin-left: 30% ;
}

.part {
    background-color: $background_color_2;
    height: auto;
    width: 32%;
    @include border(3px);
    float: left;
}

.song{
    @include song(40px, 20px, 4%, 70%);
}


.playlist-button{
    @include playlist_button(50%);
    
}

.user{
    @include border(2px);
    background-color: $background_color_1;
    font-size: 20px;
    color: black;
    height: 40px;
    border-radius: 10px;
    label{
        margin-left: 3%;
    }
}

.cancelbtn {
    @include cancelbtn;
   }

.text{
    @include text_style(black, 20px);
}

@include hover;
