$button_color_1: rgb(134, 31, 31);
$button_color_2:rgb(28, 116, 28);
$button_color_3: rgb(61, 88, 207);
$button_color_4: rgb(189, 152, 186);
$button_color_5: rgb(56, 18, 53);
$background_color_1: rgb(52, 136, 41);
$background_color_2: rgb(187, 125, 187);
$background_color_3: rgb(149, 211, 173);
$background_color_4: rgb(93, 69, 136);
$border_color:  rgb(63, 56, 56);
$song_color: rgb(31, 144, 189);

$hover_color: rgb(210, 228, 48);

$gradient_color_1: rgb(104, 32, 104);
$gradient_color_2: rgb(221, 57, 221);

$gradient_color_3: rgb(38, 84, 209);
$gradient_color_4: rgb(121, 172, 238);





