$button_color_1: rgb(233, 93, 93);
$button_color_2:rgb(74, 218, 74);
$button_color_3: rgb(61, 88, 207);
$button_color_4: rgb(189, 152, 186);
$background_color_1: rgb(199, 223, 245);
$background_color_2: rgb(236, 231, 231);
$background_color_3: rgb(149, 211, 173);
$background_color_4: rgb(212, 197, 153);
$border_color:  rgb(63, 56, 56);
$song_color: rgb(31, 144, 189);





