@import "mixins", "colors";



body{ 
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

.upper-block{
  @include upper_block;
  border: none;
  margin-top: 10vh;
  background: none;

  .cancelbtn {
     @include cancelbtn;
    }
  @include hover;

  
}

form {
    border: 3px solid #f1f1f1;
  }
  
  label {
    @include text_style(black, 100%);
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    width: 100%;
  }
  input[type=text], input[type=password] {
    @include text_style(gray, 70%);
   @include input;
   @include border(3px);
  }
  
  button {
    @include border(2px);
    background-color: $button_color_2;
    color: white;
    padding: 14px 20px;
    margin: 5% 40%;
    font-size: 100%;
    width: 25%;
   margin-top: 10%;
  }
  
  @include hover;
  
  .container {

    @include border(3px);
    label{
      color: white;
    }
    border-radius: 40px;
    margin-left: 15%;

    width: 70%;
    height: 100%;
    padding: 20px; 
    margin-top: 15vh; 
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }