@import "mixins", "colors";


body{ 
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
    border: 3px solid white;
  }
  
  label {
    color: white;
  }
  
  input[type=text], input[type=password] {
    @include input;
    @include border(2px);
  }
  
  
  button {
    @include border(2px);
    background-color: $button_color_2;
    color: white;
    padding: 14px 20px;
    margin: 5% 30%;
    margin-top: 10vh;
    cursor: pointer;
    width: 40%;
  }
  

  @include hover;
  .upper-block {
    @include upper-block;
    margin-top: 10vh;
    border: none;
    background: none;
    
    .cancelbtn {
        @include cancelbtn;
      };

    
};
  
  .container {
    padding: 20px; 
    margin-top: 25vh; 
    padding: 16px;
    height: 140vh;

    label {
      color: white;
    }
  }