@import "mixins", "colors";



body{ 
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
    border: 3px solid #f1f1f1;
  }
  
  label {
    @include text_style(black, 100%);
    float: left;
    margin-top: 20vh;
    margin-left: 5%;
    width: 100%;
  }
  input[type=text], input[type=password] {
    @include text_style(gray, 70%);
   @include input;
   @include border(3px);
  }
  
  button {
    @include border(2px);
    float: left;
    background-color: $button_color_2;
    color: white;
    padding: 14px 20px;
    margin: 5% 30%;
    font-size: 100%;
    cursor: pointer;
    width: 40%;
    margin-top: 10vh;
  }
  
  @include hover;
  
  .cancelbtn {
      @include cancelbtn;
  }
  
  .container {
    label{
      color: white;
    }

    height: 100vh;
    padding: 20px; 
    margin-top: 10vh; 
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }