@import "mixins", "colors";

form {
    border: 3px solid white;
  }

  body{ 
    background: url(../images/tec.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  
  label {
    margin-top: 5%;
    margin-left: 5%;
    color: white;
  }

  h2 {
    color: white;
  }

  input[type=text] {
    @include border(2px);
    width: 70%;
    padding: 12px 20px;
    margin: 1% 0%;
    margin-left: 5%;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .upper-block {
    @include upper_block;
    margin-top: 10vh;
    border: none;
    background: none;

    .cancelbtn {
        @include cancelbtn;
      };

      :hover {
       color: black;
      };

    };

    .context{
        border-radius: 10px;

        button{
            @include border(1px);
            margin-left: 3%;
            background-color: $button_color_1;
            width: 15vh;
            font-size: 100%;
            height: 30px;
            border-radius: 15px;
            color: white;
        }
         @include hover;
    }
  
  .container {
    
    padding: 20px; 
    margin-top: 15vh; 
    padding: 16px;
    height: 100vh;

  };

  .save-changes-button {
      @include border(2px);
      margin-left: 30%;
      width: 40%;
      background-color: $button_color_2;
      height: 50px;
      border-radius: 20px;
      margin-top: 5vh;
      color: white;
  };
   @include hover;