@import "mixins", "colors";

body{ 
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

  label {
    margin-top: 5%;
    margin-left: 5%;
    color: white;
  }
  input[type=text], input[type=password] {
    @include input;
    @include border(2px);
  }
  
  button {
    @include border(2px);
    background-color: $button_color_2;
    color: white;
    padding: 14px 20px;
    margin: 5% 30%;
    cursor: pointer;
    width: 40%;
  }

  .upper-block {
    @include upper-block;
    margin-top: 10vh;
    border: none;
    background: none;

    
    .cancelbtn {
        @include cancelbtn;
      };

    
};
  
  @include hover;
  
  .container {
    @include border(3px);
    label{
      color: white;
    }
    border-radius: 40px;
    margin-left: 15%;

    width: 70%;
    height: 100%;
    padding: 20px; 
    margin-top: 20vh; 
    padding: 16px;
  }
  
  .psw {
    margin-left: 40%;
    span {
      color: white;
    }
    a {
      color: white;
    }
    a:hover{
      color: black;
    }
  }