@import "colors";

@mixin block($color, $height) {
    background: $color;
    height: $height;
    padding: 20px; 
    margin-bottom: -1px;
  }

  @mixin button_right($color) {
    background-color: $color;
    color: white;
    padding: 1% 1%;
    margin-left: 2%;
    border: none;
    width: 10%;
    float:right;
    font-size: 11pt;
  }
  @mixin playlist_button($width) {
    @include border(3px);
        border-radius: 8px;
        height: 100px;
        font-size: 20px;
        width: $width;
        background-color: $button_color_4;
        margin-left: 1%;
        color:white;
  }


  @mixin border($border) {
    border: $border solid $border_color; 
  }

  @mixin text_style($color, $size) {
      color: $color;
      font-size: $size;
  }

  
  @mixin upper_block {
    @include block($background_color_1, 45px);
    @include border(2px);
    margin-right: -3%;
  }
  
  @mixin cancelbtn {
    color: white;
      border-radius: 4px;
        @include border(2px);
        float: left;
        margin: 0% 0%;
        width: auto;
        padding: 10px 18px;
        background-color: $button_color_1;
  }

  @mixin hover {
    button:hover {
      color:black;
      transform: scale(0.95);
    }
  }

  @mixin input {
    @include text_style(gray, 20px);
    width: 70%;
    padding: 12px 20px;
    margin: 1% 0%;
    margin-left: 5%;
    margin-bottom: 5%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  @mixin song($size, $text-size, $margin-top, $leng) {

    @include border(2px);
    
    background-color: $background_color_1;
    width: $leng;
    height:70px;
    border-radius: 20px;

    button {
      @include border(1px);
      background-color: blue;
      border-radius: 50px;
      width: $size;
      height: $size;
      margin-top: $margin-top;
      margin-left: 1%;
    }
    .song-text {
      @include text_style(black, $text-size);
      margin-left: 5%; 
    }
    
  }