@import "colors", "mixins";

$size: 600px;


  .context {
    height: $size;
    width: 100%;
    background-color: $background_color_1;
  };

  

  .playlist-button {
    @include playlist_button(15%);
  };
  @include hover;

  input {
    @include border(2px);
    width: 60%;
    padding: 12px 20px;
    margin: 1% 0%;
    margin-left: 1%;
    display: inline-block;
    box-sizing: border-box;
  }

  .upper-block {
    @include upper-block;
    

    .button{
      @include button-right($button_color_3);
    };
    .cancelbtn {
        @include cancelbtn;
      };

      @include hover;
}