@import "colors",  "mixins";

$size: 600px;
label{
  color: white;
}

body{ 
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

  .context {
    height: 40vh;
    width: 100%;
    background-color: $background_color_1;
    margin-top: 14vh;
  }

  .container {

    height: 100vh;
    padding: 20px; 
    margin-top: 3vh; 
    padding: 16px;
  }

  input {
    @include border(2px);
    width: 60%;
    padding: 12px 20px;
    margin: 1% 0%;
    margin-left: 1%;
    display: inline-block;
    box-sizing: border-box;
  }

  .song {
   @include song;
  }

  @include hover;

  .upper-block {
    @include upper_block;
    border: none;
    margin-top: 10vh;
    background: none;

    .button{
      @include button_right($button_color_3);
    }
    
    .cancelbtn {
       @include cancelbtn;
      }
    @include hover;

    
}