@import "colors", "mixins";

label{
  color: white;
  margin-top: 5vh;
}

body{ 
  background: url(../images/tec.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.upper-block {
    @include upper_block;
    border: none;
    background: none;
    margin-top: 10vh;
};

.cancelbtn {
    @include cancelbtn;
};

input[type=text] {
    @include border(2px);
    width: 70%;
    padding: 12px 20px;
    margin: 1% 0%;
    margin-left: 5%;
    display: inline-block;
    box-sizing: border-box;
  }

  .container {
    padding: 20px; 
    margin-top:25vh; 
    padding: 16px;
    width: 100%;
    height: 100vh;
  }

  label {
    margin-top: 5%;
    margin-left: 5%;
  }

  button {
    @include border(2px);
    background-color: $button_color_2;
    color: white;
    padding: 14px 20px;
    margin: 5% 30%;
    margin-top: 20vh;
    cursor: pointer;
    width: 40%;
  }

  @include hover;