@import "colors", "mixins";

body{ 
    background: url(../images/tec.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

.upper-block {
    margin-top: 4vh;
    @include upper-block;
    border: none;
    width: 100vw;
};

.cancelbtn {
        @include cancelbtn;
        margin-left: 1%;
};

.button-right {
    @include button-right($button-color-5);
    padding: 2px, 2px;
    margin-right: 4vw;
}
@include hover;

.container {
    @include hover;
    margin-top: 20vh;
    @include border(4px);
    height: auto;
    width: 70%;
    float: right;
    margin-right: 10vw;
    border-radius: 20px;
    
    h2{
        margin-left: 10%;
        color: white;
        margin-top: 1%;
    }

    h3{
        margin-left: 40%;
        color:white;
    }


    button {
        color: white;
        margin-top: 1%;
        margin-left: 1%;
    };

    @include hover;
    

    .created {
        width: auto;
        margin-top: 10%;
        margin-bottom: 0%;
        font-size: 28px;
    };
}