.upper-menu {
  height: 6vh;
  width: 100vw;
  background-color: azure;
}

.lbl {
  font-size: 90%;
  margin-top: 10vh;
  color: black;
  margin-left: 2vw;
  margin-right: 4vw;
}

.butt {
  float: right;
  height: 6vh;
  background: none;
  min-width: 10vw;
  max-width: 17vw;
  width: 12vh;
  border-top: none;
  border-right: none;
}