.cont-menu {
  margin-top: 1%;
  height: 6vh;
  width: 100vw;
  background-color: azure;
  border-top: 2px solid black;
}

.butn {
  height: 6vh;
  background: none;
  min-width: 10vw;
  max-width: 17vw;
  width: 12vh;
  border-top: none;
  border-left: none;
}